#navbar_logo{
	float:left;
	background-image:url('/_includes/navbar/navbar_logo.png');
	background-position:center;
	background-repeat:no-repeat;
	width:70px;
	height:70px;
	margin: 10px 0 0 15px;
}

.navbar-current_link > li{
	color:rgba(0,0,0,0.75) !important;
}


#navbar_container{
	z-index: 10;
	background-color:#FFF;
	background-color: rgba(255,255,255,0.75);
	position:fixed;
	width:100%;
	
	transition:         .2s;
	-moz-transition:    .2s;
	-webkit-transition: .2s;
	-o-transition:      .2s;
}
#navbar_container > ul{
	list-style-type:none;
	padding: 0px;
	margin:  0;
	text-align: center;
}

#navbar_container > ul > a {
	cursor: pointer;
	text-decoration:none;
}

#navbar_container > ul > a > li {
	color: rgba(0,0,0,.3);
	display: inline-block;
	float:left;
	font-size:26px;
	padding: 30px 15px 30px 15px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	
	transition:         .2s;
	-moz-transition:    .2s;
	-webkit-transition: .2s;
	-o-transition:      .2s;
}

#navbar_container > ul > a > li:hover {
	color: rgba(0,153,204,.8);
}


/* HOME */
.navbar_container-home{
	top:0;
	background-color: rgba(0,0,0,0.15) !important;
	border-bottom: 1px solid rgba(0,0,0,0.3); !important;
}
.navbar_container-home > ul > .navbar-current_link > li{
	color:#FFF !important; 
}.navbar_container-home > ul > .navbar-current_link > li:hover{
	color:#FFF !important; 
}
.navbar_container-home > ul > a > li {
	color: rgba(255,255,255,.6) !important;
}
.navbar_container-home > ul > a > li:hover {
	color: #33b5e5 !important;
}


/* THE GRID */
.navbar_container-the_grid{
	top:0;
	background-color:#000 !important;
	border-bottom: 1px solid #333;
}
.navbar_container-the_grid > ul > .navbar-current_link > li{
	color:#33B5E5 !important; 
}.navbar_container-the_grid > ul > .navbar-current_link > li:hover{
	color:#33B5E5 !important; 
}
.navbar_container-the_grid > ul > a > li {
	color: rgba(255,255,255,.25) !important;
}
.navbar_container-the_grid > ul > a > li:hover {
	color: #FFF !important;
}

/* Projects */
.navbar_container-projects{
	top:0;
	background-color:rgba(255,255,255,0.25) !important;
}

/* About */
.navbar_container-about{
	top:0;
	background-color:rgba(0,0,0,0.25) !important;
}
.navbar_container-about > ul > .navbar-current_link > li{
	color:#33B5E5 !important; 
}.navbar_container-about > ul > .navbar-current_link > li:hover{
	color:#33B5E5 !important; 
}
.navbar_container-about > ul > a > li:hover {
	color: rgba(0,0,0,0.7) !important;
}